---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headplane

spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: headplane

  values:
    controllers:
      headplane:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/tale/headplane
              tag: 0.6.2

            resources:
              requests:
                cpu: 12m
                memory: 128M
              limits:
                memory: 512M

            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /admin/healthz
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: 3000

    route:
      app:
        hostnames: ["headscale.${EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /admin
            backendRefs:
              - identifier: app

    persistence:
      config:
        type: secret
        name: headplane-secret
        globalMounts:
          - path: /etc/headplane/config.yaml
            subPath: config.yaml
      data:
        type: persistentVolumeClaim
        existingClaim: headplane-pvc
        storageClass:
        globalMounts:
          - path: /var/lib/headplane
            subPath: data
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
