---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cert-manager
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    crds:
      enabled: true
    dns01RecursiveNameservers: ${PRIVATE_DNS_IPv4}:53
    dns01RecursiveNameserversOnly: true
    cainjector:
      replicaCount: 1
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - ${PRIVATE_DNS_IPv4}
