---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zola-blog

spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: zola-blog

  values:
    controllers:
      zola-blog:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 1000
            runAsUser: 1000

        containers:
          app:
            image:
              repository: sujiba/my-zola-blog
              tag: 2026.02.2
            env:
              TZ: ${TZ}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 12m
                memory: 128M
              limits:
                memory: 512M

    service:
      app:
        ports:
          http:
            port: 80

    route:
      app:
        hostnames: ["blog.${EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
