apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app drawio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: drawio

  values:
    controllers:
      drawio:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: docker.io/jgraph/drawio
              tag: 29.5.2
            #env:
            #  EXPORT_URL: http://image-export:8000/

          exporter:
            image:
              repository: docker.io/jgraph/export-server
              tag: latest@sha256:88ecb260450006eac16b6d9bf828890b5262e3a6b24d38b4773bda30ae1d6f88

    service:
      app:
        controller: drawio
        ports:
          http:
            port: &port 8080
      exporter:
        controller: drawio
        ports:
          http:
            port: 8000

    route:
      app:
        hostnames: ["draw.${EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
