apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app drawio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: drawio

  values:
    controllers:
      drawio:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/jgraph/drawio
              tag: 29.5.2

    service:
      app:
        controller: drawio
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames: ["draw.${EXTERNAL_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
