---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: volsync
  values:
    fullnameOverride: volsync # Required for volsync-perfectra1n fork
    manageCRDs: true
    metrics:
      disableAuth: true

    image: &image
      repository: ghcr.io/perfectra1n/volsync
      tag: v0.17.9

    kopia: *image
    rclone: *image
    restic: *image
    rsync: *image
    rsync-tls: *image
    syncthing: *image
