---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pvc.yaml
  - ./secret.sops.yaml

patches:
  - target:
      kind: Service
      name: pihole
    patch: |-
      - op: replace
        path: /spec/clusterIP
        value: 10.96.0.2
