---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media

components:
  - ../../components/common

resources:
  - ./namespace.yaml
  #- ./arr-stack/ks.yaml
  - ./jellyfin/ks.yaml
  - ./media-nfs/ks.yaml
