---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: *app
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
      interval: 30m
  values:
    deployment:
      kind: Deployment
      replicas: 1
    updateStrategy:
      type: Recreate
    image:
      registry: ghcr.io
      repository: traefik/traefik
      tag: v3.6.2@sha256:c025135278d10f0fb6e54cb2b2dbadb3c3f0381a2c508cd74c06a74cb5a0e828
    hostNetwork: true
    service:
      type: ClusterIP
    logs:
      access:
        enabled: true
        fields:
          headers:
            names:
              User-Agent: keep
    ingressClass:
      enabled: true
      isDefaultClass: true
    ingressRoute:
      dashboard:
        enabled: false
    providers:
      kubernetesCRD:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespace: true
        ingressClass: traefik
    globalArguments:
      - --api.insecure=true
      - --serverstransport.insecureskipverify
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    env:
      - name: TZ
        value: ${TZ}
    ports:
      traefik:
        expose:
          default: false
      web:
        port: 80
      websecure:
        port: 443
        tls:
          enabled: true
          options: "default"
        transport:
          respondingTimeouts:
            readTimeout: 3600s
            idleTimeout: 3600s
            writeTimeout: 3600s
      metrics:
        port: 8082
        expose:
          default: false
    tlsOptions:
      default:
        minVersion: VersionTLS13
        maxVersion: VersionTLS13
        sniStrict: true
    pilot:
      enabled: false
    resources:
      requests:
        memory: 110Mi
        cpu: 500m
      limits:
        memory: 750Mi
    securityContext:
      capabilities:
        drop: [ALL]
        add: [NET_BIND_SERVICE]
      readOnlyRootFilesystem: true
      runAsGroup: 0
      runAsNonRoot: false
      runAsUser: 0
