---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pocket-id-pvc
  namespace: security
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: openebs-hostpath
  resources:
    requests:
      storage: 1Gi
