---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted

resources:
  - ./configmap.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pvc.yaml
  # - ./secrets.sops.yaml
