---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media

resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./secret.sops.yaml

configMapGenerator:
  - name: configarr-configmap
    files:
      - config/config.yaml

generatorOptions:
  disableNameSuffixHash: true